In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import OneHotEncoder

In [12]:
df = pd.read_csv("../data/raw/BMW_Sales_2010-2024.csv")

Since there is no missing values and duplicate, we don't need to deal with them.

### Step 1: Clean data (for future use)

In [13]:
df.to_csv('../data/cleaned/Cleaned_BMW_Sales_2010-2024.csv', index=False)
print("Cleaned dataset saved successfully!")

Cleaned dataset saved successfully!

### Step 2: Categorical Encodding

In [14]:
df = pd.read_csv("../data/cleaned/Cleaned_BMW_Sales_2010-2024.csv")

df_categorical = df.select_dtypes(include='object')
df_categorical.nunique().sort_values()

Sales_Classification     2
Transmission             2
Fuel_Type                4
Region                   6
Color                    6
Model                   11
dtype: int64

Since cardinality is low, we can do OneHotEncoding which used for models

In [15]:
df = pd.read_csv("../data/cleaned/Cleaned_BMW_Sales_2010-2024.csv")

categorical_cols = df.select_dtypes(include='object').columns.tolist()

encoder = OneHotEncoder(sparse_output=False, drop='first')
encoded_data = encoder.fit_transform(df[categorical_cols])

encoded_df = pd.DataFrame(encoded_data, columns=encoder.get_feature_names_out(categorical_cols))

df_numeric = df.drop(columns=categorical_cols)

df = pd.concat([df_numeric.reset_index(drop=True), encoded_df.reset_index(drop=True)], axis=1)

df

,Year,Engine_Size_L,Mileage_KM,Price_USD,Sales_Volume,Model_5 Series,Model_7 Series,Model_M3,Model_M5,Model_X1,...,Color_Blue,Color_Grey,Color_Red,Color_Silver,Color_White,Fuel_Type_Electric,Fuel_Type_Hybrid,Fuel_Type_Petrol,Transmission_Manual,Sales_Classification_Low
0,2016,3.5,151748,98740,8300,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
1,2013,1.6,121671,79219,3428,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
2,2022,4.5,10991,113265,6994,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
3,2024,1.7,27255,60971,4047,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
4,2020,2.1,122131,49898,3080,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,2014,4.6,151030,42932,8182,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
49996,2023,4.2,147396,48714,9816,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
49997,2010,4.5,174939,46126,8280,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
49998,2020,3.8,3379,58566,9486,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
49999,2020,3.3,171003,77492,1764,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0

In [16]:
df.to_csv('../data/encoded/Encoded_For_Model_BMW_Sales_2010-2024.csv', index=False)
print("Encoded dataset for model learning saved successfully!")

Encoded dataset for model learning saved successfully!

Sience we need to visualize to the web, we need to Encode and don't Drop any column.

In [17]:
df = pd.read_csv("../data/cleaned/Cleaned_BMW_Sales_2010-2024.csv")

categorical_cols = df.select_dtypes(include='object').columns.tolist()

encoder = OneHotEncoder(sparse_output=False) # remove drop first
encoded_data = encoder.fit_transform(df[categorical_cols])

encoded_df = pd.DataFrame(encoded_data, columns=encoder.get_feature_names_out(categorical_cols))

df_numeric = df.drop(columns=categorical_cols)

df = pd.concat([df_numeric.reset_index(drop=True), encoded_df.reset_index(drop=True)], axis=1)

df

,Year,Engine_Size_L,Mileage_KM,Price_USD,Sales_Volume,Model_3 Series,Model_5 Series,Model_7 Series,Model_M3,Model_M5,...,Color_Silver,Color_White,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_Hybrid,Fuel_Type_Petrol,Transmission_Automatic,Transmission_Manual,Sales_Classification_High,Sales_Classification_Low
0,2016,3.5,151748,98740,8300,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
1,2013,1.6,121671,79219,3428,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
2,2022,4.5,10991,113265,6994,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0
3,2024,1.7,27255,60971,4047,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0
4,2020,2.1,122131,49898,3080,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,2014,4.6,151030,42932,8182,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
49996,2023,4.2,147396,48714,9816,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0
49997,2010,4.5,174939,46126,8280,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
49998,2020,3.8,3379,58566,9486,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
49999,2020,3.3,171003,77492,1764,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0

In [18]:
df.to_csv('../data/encoded/Encoded_For_Visualize_BMW_Sales_2010-2024.csv', index=False)
print("Encoded dataset for Visualize saved successfully!")

Encoded dataset for Visualize saved successfully!